/* INDEX PAGE START */
body {
  /* This aligns block elements to the center. We can also align text to the centre using margin values in the h1/p etc tags.
  code is margin: 0 auto 0 auto; or 0 auto; this aligns text centre horizontally*/
  text-align: center;
  margin: auto;
  /* the first one is the main font, if users dont have that font type, the next one is displayed instead.
  This is called fallback. The last value is the font family which all users will have by default anyway.
  font-family: "Comic Sans MS", cursive, sans-serif; */
  /* Font Embedding- the link is given in the head tag in HTML script */
  /* font-family: 'Julius Sans One', sans-serif; */
}

a {
  color: #07689f;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 6rem;
  /* 1em = 16 pixels = 100%. We can use either em or percentage to set dynamic size */
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: #11999E;
  font-weight: bolder;
  padding-bottom: 10px;
}

hr {
  /* border-style: none;
    border-top: dotted 6px;
    border-width: 10px; */
  border-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 2;
}

footer {
  margin-top: 0;
  font-size: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #66BFBF;
}

.title {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #66BFBF;
}

.topdiv {
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 50px;
  background-color: #e0fcff;
}

.middiv {
  margin: 100px 0;
  font-family: 'Julius Sans One', sans-serif;
}

.bottomdiv {
  padding: 20px 0 0;
  background-color: #66BFBF;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.8rem;
}

/* refers to the Machine highlight in ML Engineer title  */
.mac {
  color: #ff5722;
}

.bottom_cloud {
  position: absolute;
  left: 25%;
}

.top_cloud {
  position: relative;
  left: 200px;
}

.ui-img {
  
  padding-top: 1.5rem;
}

.skills {
  margin-top: 60px;
  background-color: #e0fcff;
  padding-top: 5px;
}

/* #skills-carousel {
  background-color: #e0fcff;
  padding-top: 5px;
} */

.skill-row-tech {
  margin: 80px auto 150px auto;
  /* margin: auto; */
  text-align: left;
  width: 60%;
  line-height: 2;
}

.skill-row-knowledge {
  margin: 80px auto 150px auto;
  /* margin-top: 150px; */
  /* margin: auto; */
  text-align: left;
  width: 60%;
  line-height: 2;
}

.knowledge-head {
  width: 200px;
  font-size: 2rem;
}

.skills-head {
  /* margin: 100px 0; */
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 2em;
}

.skillsgif {
  width: 40%;
  float: left;
  margin-bottom: 150px;
  margin-right: 80px;
  /* padding-bottom: 40px; */
}

.tech-skills {
  margin-top: 0;
  width: auto;
}

.neural-img {
  width: 30%;
  /* margin: auto; */
  margin-top: 30px;
  margin-left: 30px;
  float: right;
  /* opposite of float is clear  */
}

.intro-head {
  margin-top: 60px;
  font-size: 3rem;
}

.intro-body {
  width: 30%;
  margin: auto;
}

.contact-head {
  font-size: 3rem;
}

.contact-body {
  width: 40%;
  /* font-weight: bold; */
  margin: 40px auto 60px;
}

.contact-link {
  color: #11999E;
}

.contact-link:hover {
  color: black;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.footer-link {
  margin: 10px 20px;
}

/* INDEX PAGE END */
